# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Selenium / Drivers
# chromedriver.exe # Un-comment if you keep drivers in root

# Reports
imdb_test_report.txt

# OS
.DS_Store
Thumbs.db
